<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cattergories</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" >Action</a>
      <a class="dropdown-item" >Another action</a>
      <a class="dropdown-item">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" >Separated link</a>
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
  <div class="input-group-append">
    <button class="btn btn-secondary" type="button">
      <i (click)="showSearch = true" class="icon-search"></i>
    </button>
  </div>
</div>

<!-- 
 <div class="site-search" [ngClass]="{'search-visible' : showSearch}">
  <input type="text" (input)="onSearchInput($event)" placeholder="Type to search...">
  <div class="search-tools">
    <span class="close-search">
      <i class="icon-cross" (click)="onCloseSearch()"></i>
    </span>
  </div>
  <div class="search-results">
    <ul *ngIf="products && products.length > 0">
      <li *ngFor="let product of products">
     
        <a  (click)="onCloseSearch()">{{product.name}}</a>
      </li>
    </ul>
  </div>
</div> -->


<!-- routerLink="/products/{{product.id}}" -->