@import '~scss/variables';


.site-footer {
    padding-top: floor($grid-vertical-step * 3); //~72px;
    background-color: $gray-darker;
    @media (max-width: $screen-md) {
      padding-top: floor($grid-vertical-step * 2); //~48px;
    }
  }