
<header class="navbar navbar-sticky">
  <div class="site-branding">
    <div class="inner">
      <a class="offcanvas-toggle" href="" (click)="onMenuToggle($event)"></a>
    </div>
  </div>
  <app-navigation-main></app-navigation-main>

  <div class="toolbar">
    <div class="inner">
      <div class="tools">

        <div class="search">
          <i  class="pe-7s-cart"></i>
        </div>
        <div class="account">
          <a routerLink="/register-login"></a>

          <ng-template #whenLoggedIn>
            <a routerLink="/account/profile"></a>
          </ng-template>
          <i class="icon-head"></i>

         
          <ul class="toolbar-dropdown">
            <li class="sub-menu-user">
              <div class="user-info">
                <h6 class="user-name">
                  <!-- <span> lushan jayanath </span> -->
                  <!-- <span *ngIf="user.roles?.admin"> (Admin)</span> -->
                </h6>
              </div>
            </li>
            <li>
              <a routerLink="/account/profile" href="">My Profile</a>
            </li>
            <li>
              <a routerLink="/account/orders" href="">Orders List</a>
            </li>
            <li class="sub-menu-separator"></li>
            <li>
              <a href="" (click)="onLogOut($event)">
                <i class="icon-unlock"></i>Logout</a>
            </li>
          </ul>
        </div>


      </div>
    </div>
  </div>
</header>


