<div class="product-card " >

  <div class="product-badge text-danger" timeago [date]="product.date"></div>
  <div class="product-rating">
    <app-rating-stars [rating]="product.currentRating"></app-rating-stars>
  </div>

  <a class="product-thumb" [ngClass]="{'loading': imageLoading}" >
    <img [hidden]="imageLoading" (load)="onImageLoad()" src="{{product.imageURLs[0]}}" alt="{{product.name}}"/>
  </a>
  <div class="product-info">
    <h3 class="product-title">
      <a >{{product.name}}</a>
    </h3>
    <h4 class="product-price"><app-price [product]="product"></app-price></h4>
    <p  class="hidden-xs-down product-location"><span class="product-location-header" >Location:</span>{{product.description}}</p>
    <div class="product-buttons">
      <!-- <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist">
        <i class="icon-heart"></i>
      </button> -->
      <button class="btn btn-outline-success btn-sm" (click)="onAddToCart()">Add to Cart</button>
    </div>
  </div>
</div>

