<!-- Main Navigation-->
<nav class="site-menu">

    <ul>
     
        <li routerLinkActive="active">
            <a routerLink="/home" href="">
                <span>Home</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/products" href="">
                <span>Become a FirstClass Member</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/Works" href="">
                <span>How it Works</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/add" href="">
                <span>New</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/cart" href="">
                <span>Best Sellers</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/Contact" href="">
                <span>Contact Us</span>
            </a>
        </li>
    </ul>
</nav>
